COMPOSE_PROJECT_NAME=superset

# Flask app configuration
FERNET_KEY=b'QJEJoSs3PB7tAzoPLfM1t3ikxuCs2hIPYb1RiQLMHPU='

# database configurations
DATABASE_DB=superset_mysql_metastore
DATABASE_HOST=superset-metadatabase.crcy8jyicojb.us-east-2.rds.amazonaws.com
DATABASE_USER=changeMeChange
DATABASE_PASSWORD=changeMeChangeMe2000

# database engine specific environment variables
# change the below to configure non-dev metadatastore db engine to replace default sqlite database
DATABASE_PORT=3306
DATABASE_DIALECT=mysql+pymysql
MYSQL_DATABASE=superset_mysql_metastore
MYSQL_USER=changeMeChange
MYSQL_PASSWORD=changeMeChangeMe2000
MYSQL_ROOT_PASSWORD=changeMeChangeMe2000
#MYSQL_RANDOM_ROOT_PASSWORD=yes
#DATABASE_PORT=5432
#DATABASE_DIALECT=postgresql
#POSTGRES_DB=superset
#POSTGRES_USER=superset
#POSTGRES_PASSWORD=SupersetPassword

# Add the mapped in /app/pythonpath_docker which allows devs to override stuff
PYTHONPATH=/app/pythonpath:/app/scripts/pythonpath_dev
REDIS_HOST=redis# use on AWS ec2 & ecs
#REDIS_HOST=127.0.0.1# use on AWS WorkSpaces
REDIS_PORT=6379
#REDIS_CELERY_DB
#REDIS_RESULTS_DB
#REDIS_FILTER_DB
#REDIS_CHARTS_DB

FLASK_ENV=production
SUPERSET_ENV=production
#SUPERSET_LOAD_EXAMPLES=yes
#CYPRESS_CONFIG=false
SUPERSET_PORT=8088
