sqlalchemy<1.4.0
redis==3.5.3
snowflake-sqlalchemy>=1.2.4
psycopg2-binary>=2.9.3
gevent>=21.8.0
Flask-Caching==1.11.1
PyAthena>1.2.0
gunicorn
s3cache
s3werkzeugcache
sqlalchemy-redshift
cryptography
pyhive
sqlalchemy-solr
pymysql
mysql-connector-python
httpx
mysqlclient
pysqlite3
selenium
thrift>0.13.0
typing-extensions==3.10.0.2
cachelib==0.4.1
